<ion-view view-title="{{user.name}}">
  <ion-content overflow-scroll="true" style="">
    <div class="item item-avatar">
      <img src="{{user.avatar}}">
      <h2>{{user.name}}</h2>
      <p>{{user.description}}</p>
    </div>
    <div class="padding">
      the album here, swipe to see more
      <i class="icon ion-chevron-right icon-accessory"></i>
    </div>
    <div ng-include="'templates/_scroll_album.html'" ></div>

<!-- <ion-infinite-scroll ng-if="dataLength == limit" on-infinite="loadMore()"></ion-infinite-scroll> -->
</ion-content>
</ion-view>
