
<ion-view view-title="Forms">
  <ion-content >
    <!-- <div class="row responsive-sm">
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
    </div> -->
    <div ng-repeat="c in chats" style="width:33.33vw; height:33.33vw; padding:0.5px; float:left;">
      <a href="#/forms/users/{{c.id}}"><img src="{{c.photo}}" alt="Car"  style="width:100%; height:100%;" /></a>
    </div>

    <!-- <div collection-repeat="c in chats" style="width:33.33vw; height:33.33vw; padding:0.5px; float:left;">
    <a href="#/forms/users/{{c.id}}"><img src="{{c.photo}}" alt="Car"  style="width:100%; height:100%;" /></a>
  </div> -->
  <!-- <ion-scroll direction="x" class="available-scroller">
  <div class="photo" collection-repeat="c in chats"
  item-height="250" item-width="photo.width + 30">
  <img ng-src="{{c.photo}}">
</div>
</ion-scroll> -->
<!-- <ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px;">
<div ng-repeat="c in chats" style="width:33.33vw; height:33.33vw; padding:0.5px; float:left;">
<a href="#/forms/users/{{c.id}}"><img src="{{c.photo}}" alt="Car"  style="width:100%; height:100%;" /></a>
</div>
</ion-scroll> -->

</ion-content>
<div style="position:fixed; bottom:0px; width: 100vw;">
  <div class="button-bar" >
    <a class="button button-positive"  href="#/login">login</a>
    <a class="button button-balanced"  href="#/signup">signup</a>
  </div>
</div>
</ion-view>
