<ion-view hide-nav-bar="true" view-title="Forms">
  <ion-content style="padding-top:20px;">
    <div style="margin-left:auto;margin-right:auto;max-width:550px;">
      <div ng-repeat="p in photos" class="" style="width:33.33%; height: 160px; float:left;">
        <a href=""><img ng-src="{{p.url}}" alt="Car"  width="100%" height="100%" /> </a>
      </div>
    </div>
    <ion-infinite-scroll ng-if="dataLength == limit" on-infinite="loadMore()" distance="50%"></ion-infinite-scroll>
  </ion-content>
  <div style="position:fixed; bottom:0px; width: 100vw;">
    <div class="button-bar" >
      <a class="button button-positive"  href="#/login">log in</a>
      <a class="button button-balanced"  href="#/signup">sign up</a>
    </div>
  </div>
</ion-view>
