<ion-view view-title="Login">
  <ion-nav-buttons side="secondary">
    <a href="#/tab/cafe" class="button button-icon button-clear ion-ios-close-empty" >
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div ng-show="loginErr" style="padding:10px; color:red;">{{loginErr}}</div>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="doLogin()">Log in</button>
        </label>
      </div>
      <!-- <div>{{loginData}}</div> -->
    </form>
</ion-content>
</ion-view>
