<ion-view view-title="">
  <ion-nav-buttons side="right">
    <a href="#/tab/cafe" class="button button-icon button-clear ion-ios-close-empty" >
    </a>
  </ion-nav-buttons>
  <ion-content style="">
    <div ng-include="'templates/_login.html'">  </div>
    <div style="margin-left:auto; margin-right:auto; margin-top:10px; max-width: 200px;">
      <a class="button button-small button-assertive button-full"  href="#/signup">sign up >></a>
    </div>
    <!-- <ion-slide-box style="height:90vh; margin-left:auto; margin-right:auto; margin-top:10px; max-width: 900px;" auto-play="false" does-continue="true" on-slide-changed="slideHasChanged($index)">
       <ion-slide>
         <div style="">
           <button class="button button-small button-assertive button-clear" ng-click="nextSlide()">sign up >></button>
         </div>
         <div style="">
           <div ng-include="'templates/_login.html'" >  </div>
         </div>
       </ion-slide>
       <ion-slide>
         <div style=" ">
           <button class="button button-small button-assertive button-clear" ng-click="preSlide()"><< login in</button>
         </div>
         <div style="">
           <div ng-include="'templates/_signup.html'">  </div>
         </div>
       </ion-slide>
    </ion-slide-box> -->
  </ion-content>
  <!-- <div style="position:fixed; bottom:0px; width: 100vw;">
    <div class="button-bar" >
      <a class="button button-positive"  href="#/login">log in</a>
      <a class="button button-balanced"  href="#/signup">sign up</a>
    </div>
  </div> -->
</ion-view>
