<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div >
      <button ngf-select="temfile(file)" ng-model="file" name="file" ngf-pattern="'image/*'"
      accept="image/*"  ngf-resize="{width: 500, height: 500, quality: 0.8}" class="button button-assertive button-block" >
      click to choose photo
    </button>
  </div>
  <div class="">
    <img ngf-src="file" ngf-resize="{width: 400, height: 400, quality: 0.9}" />
  </div>
  <button ng-show="file" ng-click="upPhoto()" class="button button-calm button-block"> submit photo </button>
</ion-content>
</ion-view>
<!-- <div style="margin-top:10px;">
<form  ng-submit="sendPost()">
<div class="list">
<label class="item item-input">
<textarea ng-model="post.content" placeholder="write something" cols="5" rows="5"></textarea>
</label>
<ion-checkbox ng-model="post.hidden">hide the post 隐藏博客</ion-checkbox>
<input  type="submit"  value="submit" class="button button-calm button-block">
</div>
</form>
</div> -->
