<ion-view hide-nav-bar="true" view-title="Uphoto">
  <ion-content class="padding" style="padding-top:20px;">
    <div style="margin-left:auto; margin-right:auto; max-width: 500px;">
      <form>
        <label class="item item-input">
          <textarea ng-model="cafe.content" placeholder="write something" cols="5" rows="5"></textarea>
        </label>
        <p>
          {{cafe.content}}
        </p>
      </form>
      <img id="photo" ngf-no-object-url="true" ngf-resize="{width: 700, height: 700, quality: 0.9}" ngf-src="temfile" width="100%" height="auto" />
      <div ng-repeat="f in temfiles track by $index" >
        <img  ngf-src="f" width="100%" height="auto" />
      </div>
    </div>
    <div ng-show="uppercent" class="item range range-assertive">
      <input type="range" ng-model="uppercent" name="volume" min="0" max="100" value="1">
    </div>
    <div >
      <button ng-hide="file" ngf-select  ngf-change="listFiles(file)" ng-model="file" name="file" ngf-pattern="'image/*'"
      accept="image/*"  ngf-resize="{width: 700, height: 700, quality: 0.9}" class="button button-stable button-block" >
      click to choose photo
      <i class="icon ion-images"></i>
    </button>
  </div>
  <button ng-show="file" ng-click="refresh()" class="button button-assertive"> reselect photo </button>
  <button ng-show="file" ng-click="upPhoto()" class="button button-calm button-block"> submit photo </button>
</ion-content>
</ion-view>
<!-- <div style="margin-top:10px;">
<form  ng-submit="sendPost()">
<div class="list">
<label class="item item-input">
<textarea ng-model="post.content" placeholder="write something" cols="5" rows="5"></textarea>
</label>
<ion-checkbox ng-model="post.hidden">hide the post 隐藏博客</ion-checkbox>
<input  type="submit"  value="submit" class="button button-calm button-block">
</div>
</form>
</div> -->
