<ion-view hide-nav-bar="true" view-title="Home">
  <ion-content overflow-scroll="true" style="padding-top:20px;">
    <div class="item item-avatar">
      <img src="{{user.avatar}}">
      <h2>{{user.name}}</h2>
    </div>
    <div class="padding">
      your album here, swipe to see more
      <i class="icon ion-chevron-right icon-accessory"></i>
    </div>
    <ion-scroll direction="x" zooming="true" min-zoom="0.5" paging="true" class="album-ion-scroll">
      <a ng-repeat="p in photos" style="">
        <img src="{{p.url}}" style="width: auto; max-height:320px;" >
      </a>
      <div ng-include="'templates/_loadmore_btn.html'" style="display:inline; width: 300px; height: 300px;padding:10px;"></div>
    </ion-scroll>

<!-- <ion-infinite-scroll ng-if="dataLength == limit" on-infinite="loadMore()"></ion-infinite-scroll> -->
</ion-content>
</ion-view>
