<ion-view hide-nav-bar="true" view-title="Change">
  <ion-content style="padding-top:20px;">
    <div style="margin-left:auto;margin-right:auto;max-width:700px;">
      <div ng-repeat="p in photos" class="album-hori-3" >
        <a href="#/tab/change/strangers/{{p.user.id}}" style="padding:0.5px;"><img ng-src="{{p.url}}" alt="Car" width="100%" /> </a>
      </div>
    </div>
    <!--<div style="background: url('{{p.url}}');" > </div> <img ng-src="{{p.url}}" alt="Car" width="100%" />  <div ng-if="p.url" ng-style="{'background-image':'url({{p.url}})'}"></div>-->
    <ion-infinite-scroll ng-if="dataLength == limit" on-infinite="loadMore()" distance="50%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
