<ion-view  view-title="Chats">
  <ion-content>
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
  <!-- <div ng-repeat="c in chats" style="width:33.33vw; height:33.33vw; padding:0.5px; float:left;">
    <a href="#/tab/home/users/{{c.id}}"><img src="{{c.photo}}" alt="Car"  style="width:100%; height:100%;" /></a>
  </div> -->
  <div ng-repeat="p in photos" style="width:33.33vw; height:33.33vw; padding:0.5px; float:left;">
    <a href="#/tab/home/users/{{p.id}}"><img src="{{p.url}}" alt="Car"  style="width:100%; height:100%;" /></a>
  </div>
  <!-- <ion-infinite-scroll ng-if="dataLength == limit" on-infinite="loadMore()"></ion-infinite-scroll> -->
</ion-content>
</ion-view>
