<ion-view hide-nav-bar="true" view-title="Uphoto">
  <ion-content class="padding" style="padding-top:20px;">
    <div style="margin-left:auto; margin-right:auto; max-width: 500px;">
      <label class="item item-input">
        <textarea ng-model="cafe.content" placeholder="write something" cols="5" rows="5"></textarea>
      </label>
      <!-- <div ng-repeat="f in temfiles track by $index" > -->
        <img  ngf-src="file" width="100%" height="auto" />
      <!-- </div> -->
      <button ng-if="file" ng-click="refresh()" class="button button-assertive button-icon button-clear ion-trash-b" > reselect </button>
      <div ng-if="uppercent" class="item range range-assertive">
        <input type="range" ng-model="uppercent" name="volume" min="0" max="100" value="1">
      </div>
      <div ng-if="status"><p>{{status}} </p></div>
      <div >
        <button ng-hide="file" ngf-select  ngf-change="listFiles(file)" ng-model="file" name="file" ngf-pattern="'image/*'"
        accept="image/*"  ngf-resize="{width: 700, height: 700, quality: 0.9}" class="button button-stable button-block" >
        click to choose photo
          <i class="icon ion-images"></i>
        </button>
      </div>
      <!-- <button ng-if="file" ng-click="refresh()" class="button button-assertive"> reselect photo </button> -->
      <button ng-if="file" ng-click="upPhoto()" class="button button-calm button-block"> submit photo </button>
    </div>
</ion-content>
</ion-view>
