/* Empty. Add your own CSS if you like */
.album-hori-3 {
width:33.33%;
height:auto;
padding:0.5px;
float:left;
}
/*height:33vw;*/

.album-ion-scroll {
  overflow:scroll;
  overflow-y:hidden;
  white-space:
  nowrap;
  padding:5px;
}
